CompileFlags:
  Add:
    - '--target=arm-none-eabi'
    - '-Ic:/Keil_v5/ARM/ARMCC/include'
    - '-Ic:/Keil_v5/ARM/ARMCC/include/rw'
    - '-Ie:/Dev/WheelchairSTM32/CORE'
    - '-Ie:/Dev/WheelchairSTM32/SYSTEM/delay'
    - '-Ie:/Dev/WheelchairSTM32/SYSTEM/sys'
    - '-Ie:/Dev/WheelchairSTM32/SYSTEM/usart'
    - '-Ie:/Dev/WheelchairSTM32/USER'
    - '-Ie:/Dev/WheelchairSTM32/FWLIB/inc'
    - '-Ie:/Dev/WheelchairSTM32/FreeRTOS/include'
    - '-Ie:/Dev/WheelchairSTM32/FreeRTOS/portable/RVDS/ARM_CM4F'
    - '-Ie:/Dev/WheelchairSTM32/CarType/Inc'
    - '-Ie:/Dev/WheelchairSTM32/BALANCE/Inc'
    - '-Ie:/Dev/WheelchairSTM32/HARDWARE/Inc'
    - '-Ie:/Dev/WheelchairSTM32/HARDWARE/MPU6050'
    - '-Ie:/Dev/WheelchairSTM32/HARDWARE/ICM20948'
    - '-Ie:/Dev/WheelchairSTM32/MiddleWares/STM32_USB_Host_Library/Class/HID/Inc'
    - '-Ie:/Dev/WheelchairSTM32/MiddleWares/STM32_USB_Host_Library/Core/Inc'
    - '-Ie:/Dev/WheelchairSTM32/USB_HOST/App'
    - '-Ie:/Dev/WheelchairSTM32/USB_HOST/Target'
    - '-DSTM32F40_41xxx'
    - '-DUSE_STDPERIPH_DRIVER'
    - '-D__FPU_PRESENT=1'
    - '-D__TARGET_FPU_VFP'
    - '-DARM_MATH_CM4'
    - '-D__CC_ARM'
    - '-DUSE_USB_OTG_FS'
    - '-DDIFF_CAR'
    - '-D__arm__'
    - '-D__align(x)='
    - '-D__ALIGNOF__(x)='
    - '-D__alignof__(x)='
    - '-D__asm(x)='
    - '-D__forceinline='
    - '-D__restrict='
    - '-D__global_reg(n)='
    - '-D__inline='
    - '-D__int64=long long'
    - '-D__INTADDR__(expr)=0'
    - '-D__irq='
    - '-D__packed='
    - '-D__pure='
    - '-D__smc(n)='
    - '-D__svc(n)='
    - '-D__svc_indirect(n)='
    - '-D__svc_indirect_r7(n)='
    - '-D__value_in_regs='
    - '-D__weak='
    - '-D__writeonly='
    - '-D__declspec(x)='
    - '-D__attribute__(x)='
    - '-D__nonnull__(x)='
    - '-D__register='
    - '-D__breakpoint(x)='
    - '-D__cdp(x,y,z)='
    - '-D__clrex()='
    - '-D__clz(x)=0U'
    - '-D__current_pc()=0U'
    - '-D__current_sp()=0U'
    - '-D__disable_fiq()='
    - '-D__disable_irq()='
    - '-D__dmb(x)='
    - '-D__dsb(x)='
    - '-D__enable_fiq()='
    - '-D__enable_irq()='
    - '-D__fabs(x)=0.0'
    - '-D__fabsf(x)=0.0f'
    - '-D__force_loads()='
    - '-D__force_stores()='
    - '-D__isb(x)='
    - '-D__ldrex(x)=0U'
    - '-D__ldrexd(x)=0U'
    - '-D__ldrt(x)=0U'
    - '-D__memory_changed()='
    - '-D__nop()='
    - '-D__pld(...)='
    - '-D__pli(...)='
    - '-D__qadd(x,y)=0'
    - '-D__qdbl(x)=0'
    - '-D__qsub(x,y)=0'
    - '-D__rbit(x)=0U'
    - '-D__rev(x)=0U'
    - '-D__return_address()=0U'
    - '-D__ror(x,y)=0U'
    - '-D__schedule_barrier()='
    - '-D__semihost(x,y)=0'
    - '-D__sev()='
    - '-D__sqrt(x)=0.0'
    - '-D__sqrtf(x)=0.0f'
    - '-D__ssat(x,y)=0'
    - '-D__strex(x,y)=0U'
    - '-D__strexd(x,y)=0'
    - '-D__strt(x,y)='
    - '-D__swp(x,y)=0U'
    - '-D__usat(x,y)=0U'
    - '-D__wfe()='
    - '-D__wfi()='
    - '-D__yield()='
    - '-D__vfp_status(x,y)=0'
  Compiler: C:/Keil_v5/ARM/ARMCC/bin/armcc.exe


---
If:
  PathMatch: */CMSIS/.*
Diagnostics:
  Suppress: ["*", undeclared_var_use_suggest]